<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${(mode.equals('details') ? 'View' : 'Add') + 'a Player'}">Player details</title>
    <span th:replace="~{welcome :: bootstrapImports}"></span>
</head>
<body>
<header th:insert="~{welcome :: nav}"></header>
<main class="container">
    <h1 th:text="${(mode.equals('details') ? 'View' : 'Add') + ' a Player'}">
    </h1>
    <hr>
    <form action="#" th:action="@{/players/add}" method="post" th:object="${player}">
        <input type="text" class="d-none" th:field="*{id}" readonly>
        <div class = "mb-3"><label for="pseudo" class="form-label"></label><input type="text" id="pseudo" class="form-control" th:field="*{pseudo}" th:readonly="${mode.equals(details)}"></div>
        <div class = "mb-3"><label for="years" class="form-label"></label><input type="text" id="years" class="form-control" th:field="*{years}" th:readonly="${mode.equals(details)}"></div>
        <div class = "mb-3"><label for="numberOfPlayedGames" class="form-label" ></label><input id="numberOfPlayedGames" type="text" class="form-control" th:field="*{numberOfPlayedGames}" th:readonly="${mode.equals(details)}"></div>
    </form>
</main>

</body>
</html>